.header_container {
  display: flex;
  justify-content: center;
}

.header_image {
  display: block;
  margin-bottom: 25px;
}

h1 {
  justify-content: center;
  position: relative;
  text-align: center;
  top: 30px;
}

p {
  color: white;
  background-color: rgba(108, 175, 7, 0.74);
  padding: 2px;
}

.header_highlight_container {
  display: flex;
  justify-content: center;
}

.header_highlight {
  background-color: rgba(212, 30, 30, .5);
  width: 400px;
  height: 60px;
  position: relative;
  top: -40px;
  z-index: 100;
  animation: blink 1s linear none infinite;
}
  @keyframes blink {
    50% {
      opacity: .5;
    }

    100% {
      opacity: 1;
    }
  }

.header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 100px;
  z-index: 200;
}

body {
  background-image: url(data/webb-dark.png);
  background-color: rgb(34, 255, 0);
  background-blend-mode:hard-light
}

.body-container {
  background-color: rgba(0, 100, 0, 0.5);
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

.box-1 {
  background-color: rgba(34, 255, 0, 0.526);
  height: 500px;
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
}

.games-container {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
}

.box-1-title {
  color: white;
  background-color: rgb(128, 0, 0);
  padding: 5px;
}

.game-bubble {
  display: flex;
  background-color: rgba(255, 255, 255, 0.702);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.game-pic-container {
  position: relative;
  top: 20px;
  margin-right: 10px;
}

.game-pic {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.box-2 {
  background-color: rgba(34, 255, 0, 0.526);
  height: 500px;
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}

.crew-about-container {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-header {
  color: white;
  background-color: rgb(128, 0, 0);
  padding: 5px;
}

.crew-bubble {
  display: flex;
  background-color: rgba(255, 255, 255, 0.702);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.pfp-container {
  position: relative;
  top: 20px;
  margin-right: 10px;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}